@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0C10;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: blue;
  }
 img{
    width: 1500px;
    height: 650px;
    object-fit: cover;
 }
.card{
  width: 18rem;
  
}
/*main{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}*/
body{
  background-color: #45A29E;
}
.card {
  border-radius: 15px; 
  overflow: hidden; 
  margin-bottom: 20px;
 
}

.card {
  border-radius: 15px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  transition: box-shadow 0.3s ease; 
}


.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /
}


.card-title {
  color: #333; 
  font-size: 1.25rem; 
  font-weight: bold; 
}


.card-text {
  color: #666; 
  font-size: 1rem; 
}


.btn-primary {
  background-color: #007bff;
  border-color: #007bff; 
  color: white; 
  font-weight: bold; 
}


.btn-primary:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}
.card-img-top {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
 